<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>TinyApp</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='stylesheets/my-css.css'>
  </head>
  <body style='font-size:20px'>
    <div class='container'>
      <% include partials/_header %>
      <form action='/urls/create' method='POST' style='margin:150px;'>
        <label for='longURL'>Enter a URL:</label>
        <input id='longURL' type='text' name='longURL' placeholder='http://' style='width: 300px'>
        <input type='submit' value='Submit'>
      </form>
    </div>
  </body>
</html>