<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>TinyApp</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/stylesheets/my-css.css'>
</head>
<body>
  <div class='container'>
    <% include partials/_header %>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <div class='well'>
          <h4 class='align-left'>Short URL: <a href='/u/<%= shortURL %>'>http://localhost:3000/u/<%= shortURL %></a></h4>
          <span class='align-right'>Target URL: <%= longURL %></span>
        </div>
        <div>
        </div>
        <form method='POST' action='/urls/<%= shortURL %>'>
          <div class='input-group'>
            <span class='input-group-addon'>Change Target URL:</span>
            <input id='newLongURL' class='form-control' type='text' name='newLongURL' placeholder='http://'>
            <span class='input-group-btn'>
              <button class='btn btn-info' type='submit'>Update!</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>