<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>TinyApp</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel='stylesheet' href='stylesheets/my-css.css'>
</head>
<body>
  <div class='container'>
    <% include partials/_header %>
    <%= longURL %> : <%= shortURL %>
    <form method='POST' action='/urls/<%= shortURL %>'>
      <input id='newLongURL' type='text' name='newLongURL' placeholder='http://' style='width: 300px'>
      <input type='submit' value='Update'>
    </form>
  </div>
</body>
</html>