body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F2FBFD;
}

.jumbotron {
  margin-top: 10px;
  padding: 10px;
  background-color: #DDF1F5;
}

.table > tbody > tr > td {
 vertical-align: middle;
 text-align: center;
}

.table > tbody > tr:first-child > td {
    border: none;
}

dl {
  margin-bottom: 0px;
}

.nav > li > a:hover {
  background-color: #DDF1F5;
}

.input-group-addon {
  background-color: #DDF1F5;
}

.well {
  background-color: #DDF1F5;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
      width: 230px;
  }

  .dl-horizontal dd {
      margin-left: 250px;
  }
}